<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Detect lung cancer through scans.">
    <title>Lung Cancer Detection</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Lung Cancer Detection</h1>
    </header>
    <main>
        <div id="image-and-form">
            <div id="left-section">
                <img src="{{ url_for('static', filename='lungs_banner.jpg') }}" alt="Coughing Woman Image">
            </div>
            <div id="right-section">
                <form id="upload-form" action="{{ url_for('result') }}" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="lung_scan">Upload Lung Scan Image:</label>
                        <input type="file" id="lung_scan" name="lung_scan" accept="image/*" required>
                    </div>
                    <button type="submit" id="submit-btn">Submit</button>
                </form>
                <div id="loading-indicator" style="display: none;">Loading...</div>
                <div id="message-area"></div>
            </div>
        </div>
    </main>
    <footer id="learn-more">
        <ul>
            <li><a href="https://www.cdc.gov/cancer/lung/basic_info/symptoms.htm" target="_blank">Symptoms</a></li>
            <li><a href="https://www.cancer.gov/types/lung/patient/lung-treatment-pdq" target="_blank">Treatment Options</a></li>
            <li><a href="https://www.cancer.org/cancer/lung-cancer.html" target="_blank">Lung Cancer Information</a></li>
        </ul>
        <p>&copy; Neural Ninjas</p>
    </footer>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
